.checkbox {
    padding: 10px 70px 10px 50px;
    position: relative;
    display: inline-block;
    width: 100%;
    text-transform: none;
    font-weight: 400;
    font-size: 13px;
}

.checked {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    background-image: url(../../assets/unchecked.svg);
}

.input:checked+.checked {
    background-image: url(../../assets/checked.svg);
}

.checkbox:hover {
    background: #F1FCFF;
    cursor: pointer;
}